---
import BaseLayout from "~/layouts/BaseLayout.astro"

import Hero from "~/components/sections/Hero.astro"
import Banner from "~/components/sections/Banner.astro"
import IntroBanner from "~/components/sections/IntroBanner.astro"
import Button from "~/components/common/Button.astro"
import ContentSplit from "~/components/sections/ContentSplit.astro"
import ContentGallery from "~/components/sections/ContentGallery.astro"
import Feature from "~/components/common/Feature.astro"
import Card from "~/components/common/Card.astro"
import Signup from "~/components/sections/Signup.astro"

import content from "~/data/content"

import bannerImg from "~/assets/350x100.svg"
import heroImage from "~/assets/cat.avif"
import { Image } from "astro:assets"


const services = content.services.filter((s)=> s.intro)
const featureColors=["primaryFill", "primaryContainer", "primaryFixed"]

const title="Home title"
const description = "Home desc"

const items = content.partners

---


<BaseLayout {title} {description} >
	<Hero title="Femtech Sphere" scroll image  link="#intro" tagline="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
	<Banner text="Our Ecosystem Partners and Startups" {items} />
	<IntroBanner
		title="Sed magna odio, convallis eu turpis vitae, rhoncus molestie felis."
		subtitle="How This Works"
		id="intro"
		
		bg="bg-[--primaryContainer] text-[--onPrimaryContainer] rounded-md max-w-[85vw] w-[75vw] m-8 md:m-16"
	>

		<p class="font-bold md:text-left text-center w-full">
			Morbi placerat consectetur nulla, vitae feugiat leo viverra eget. 
		</p>
		<p class=" md:text-left text-center">
			Praesent iaculis nulla a commodo suscipit. Phasellus iaculis lorem ut risus dapibus, vestibulum sollicitudin tellus rutrum. Donec convallis feugiat vehicula. Duis accumsan massa et est maximus, at commodo tellus venenatis. Proin nec justo placerat dui condimentum tincidunt ut pretium libero. Nulla vestibulum ipsum eget nibh interdum, sed volutpat lectus bibendum. Quisque nec facilisis lectus.
		</p>

		<Button
		href="/approach"
		text="Our Approach"
		type="filled"
		buttonColor=""
		addClasses="w-fit"
		slot="primary-button"
		/>
	</IntroBanner>
	<ContentSplit title="Nullam sagittis cursus aliquet." subtitle="Ecosystem" id="ecosystem" sectionbg="text-[--onPrimary]">
		<Fragment slot="heading">
			<p class=" md:text-left text-center" >
				Nulla ut tristique magna. Donec consectetur quam massa, sagittis sagittis lorem facilisis id. Mauris quis leo ut lectus ultricies mattis sit amet semper quam. 
			</p>
			<p class=" md:text-left text-center" >
				Proin euismod vel lorem posuere malesuada. Etiam consectetur consectetur lorem, at faucibus arcu cursus id. Maecenas molestie nulla eget accumsan eleifend. Etiam faucibus tempor lectus. Pellentesque sodales ligula vel felis porta facilisis.
			</p>
		</Fragment>
		<!-- <Fragment slot="buttons"> -->
			<Button
			href="/ecosystem"
			text="Explore Ecosystem"
			type="filled"
			buttonColor=""
			slot="buttons"

			/>

		<!-- </Fragment> -->
		<div class="flex flex-col gap-4 bg-[--secondaryContainer] rounded-md">
			<!-- { services.map((service, i) => (
				<Feature title={service.title} link={`/services#${service.id}`} bg={featureColors[i]}>
					<p>{service.content}</p>
				</Feature>
			))} -->
			<Image src={heroImage} alt="" class="relative p-4 py-16 rounded-md  object-cover object-center" />
		</div>

	</ContentSplit>

	<ContentGallery subtitle="Perspectives"  items={content.blogs} gallery="cards" sectionbg="bg-[--primaryContainer]">
		<Button
		href="/perspectives"
		text="Read More Content"
		type="filled"
		buttonColor=""
		addClasses="w-fit"
		slot="buttons"

		/>
	</ContentGallery>

	<Signup divbg="bg-[--primaryContainer] text-[--onPrimaryContainer]" sectionbg="my-16" />

</BaseLayout>